.banner {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 110px;
	min-height: 600px;
	position: relative;
	overflow: hidden;
	@include mq(medium) {
		flex-direction: row;
		min-height: 75vh;
	}
	@media screen and (max-height: 1000px) {
		// min-height: 100vh;
	}
	&__small {
		// position: relative;
		min-height: 450px;
		padding-top: 180px;
		padding-bottom: var(--spacing-xxl);
		overflow: hidden;
		.banner--image {
			position: absolute;
			right: 0;
			top: 0;
			background-size: cover;
			background-position: left center;
			height: 100%;
			width: 50%;
			display: none;
			@include mq(medium) {
				display: block;
			}
			img {
				display: none;
			}
		}
	}

	.logo {
		width: 250px;
		margin-bottom: 2.5rem;
		@include mq(medium) {
			width: 350px;
		}
	}
	&--content {
		// width: 80%;
		z-index: 1;
		width: 100%;
		padding: var(--spacing);
		margin-bottom: 1rem;
		@include mq(medium) {
			width: 50%;
			max-width: 510px;
			padding: 0 0 0 var(--spacing-xxl);
			margin-bottom: 0;
		}
		@include mq(large) {
			width: 50%;
			// max-width: 450px;
		}
		p + h1 {
			margin-top: 0.5rem;
			margin-bottom: 1.5rem;
		}
		p {
			margin-top: 0;
		}

		h1, .heading-1 {
			margin-bottom: 0;
		}
		.btn {
			margin-top: 2rem;
		}
	}

	&--image {
		width: 100%;
		margin-left: auto;
		padding: 1rem;
		margin-top: auto;

		@include mq(medium) {
			width: 50%;
			padding: 0;
		}
	}
	&--video-bkg {
		position: absolute;
		top: 50%;
		left: 50%;
		max-width: none;
		transform: translate(-50%, -50%);
		min-width: calc(100% + 2px);
		min-height: calc(100% + 2px);
		display: block;
	}
	&--video {
		width: 100%;
		// position: absolute;
		// top: 50%;
		// left: 50%;
		// max-width: none;
		// transform: translate(-50%, -50%);
		// min-width: calc(100% + 2px);
		// min-height: calc(100% + 2px);
		// display: block;
	}
	&--bkg__video {
		background-color: var(--color-quinary);
		h1, h2, h3, h4, h5, h6, p {
			color: white;
		}
		.banner {
			min-height: 100px;
		}
		.banner__pad {
			padding: 110px 0 0 0;
			@include mq(medium) {
				padding: 0;
			}
			
		}

		.banner--content {
			// position: absolute;
			@include mq(medium) {
				position: absolute;
			}
		}
	}
	&--bkg__image {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		overflow: hidden;
		@include mq($until: medium) {
			background-image: none !important;
		}
		// .banner {
		// 	justify-content: center;
		// 	@include mq(medium) {
		// 		padding-top: 20%;
		// 		align-items: flex-start;
		// 	}
		// 	@include mq(large) {
		// 		padding-top: 15%;
		// 	}
		// 	&--content {
		// 		width: 85%;
		// 		padding-left: var(--spacing);

		// 		@include mq(large) {
		// 			max-width: 480px;
		// 		}
		// 	}
		// }

		// .fill {
		// 	color: var(--color-secondary);
		// }

		h1, h2, h3, h4, h5, h6, p {
			color: white;
		}
		p {
			color: var(--color-secondary);
		}
	}
	&__pad {
		padding-right: var(--spacing-xxl);
		padding-bottom: var(--spacing-xxl);
	}
}