.btn {
	position: relative;
	display: inline-flex;
	align-items: center;
	border-radius: 60px;
	border: 0px;
	background-color: white;
	color: var(--color-text-dark);
	font-family: var(--display-family);
	font-weight: var(--font-weight-normal);
	font-size: var(--font-size);
	text-align: center;
	transition: all 0.1s ease-in-out;
	z-index: 1;
	flex: 1 1 auto;
	text-align: center;
	overflow: hidden;
	transition: .3s;

	a {
		padding: 0.5rem 1rem;
		color: var(--color-text-dark);
		&:hover, &:focus {
			text-decoration: none;
		}
		&:after {
			content: url('../../src/icons/arrow.svg');
			display: none;
			position: relative;
			order: 2;
			padding: 0;
			margin-left: 0.5rem;
			width: 10px;
			overflow: hidden;
			@include mq(medium) {
				display: flex;
			}
		}
		&:hover, &:focus {
			cursor: pointer;
		}
	}

	&:before {
		position: absolute;
		transition: .3s;
		content: '';
		width: 0;
		bottom: -1px;
		background: var(--color-secondary);

		height: 120%;
		left: -10%;
		transform: skewX(15deg);
		z-index: -1;
	}

	&:hover, &:focus {
		color: var(--color-text-dark);
		text-decoration: none;
		cursor: pointer;
		&:before {
			left: -10%;
			width: 120%;
		}
	}
	+ .btn {
		margin-left: 0.5rem;
	}
	.icon {
		margin-left: 0.5rem;
	}
	&__small {
		a {
			padding: 0.5rem 0.5rem;
			font-size: var(--font-size-small);
		}
	}
}

.btn--white {
	
}


.btn--primary {
	background-color: var(--color-primary);
}

.btn--secondary {
	background-color:  var(--color-secondary);
	&:before {
		background: white;
	}
}
.btn--tertiary {
	background-color: var(--color-tertiary);
}
.btn--quaternary {
	background-color:  var(--color-quaternary);
	color: white;
	stroke: white;

	a {
		color: white;
		&:after {
			content: url('../../src/icons/arrow-white.svg');
		}
	}
	&:before {
		background: var(--color-primary);
	}
}
