.carousel {
	background-color: black;
	margin-bottom: 0;
	padding: var(--spacing-l) var(--spacing);
	text-align: center;

	p {
		color: var(--color-secondary);
	}

	&--slider {
		// margin: 0 -0.75rem;
		padding: 0 var(--spacing-l);
		&-item {
			padding: 1rem 4rem;
			img {
				width: 100%;
			}
		}
	}
}