.connect {
	display: flex;
	background-color: var(--color-tertiary);
	padding: var(--spacing-xl);
	border-radius: var(--border-radius);
	margin-bottom: calc(var(--spacing-xl) - var(--spacing-s));
	&--title {
		display: flex;
		width: 40%;
		h2, h3, h4, h5, p {
			margin-bottom: 0;
		}
	}
	&--social-links {
		width: 50%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding-left: var(--spacing-s);
		margin-left: auto;

		&-item {
			margin: 0 auto;
			.icon {
				height: 30px;
				max-width: 30px;
				margin-bottom: 0.5rem;
			}
			&-link {
				display: flex;
				flex-direction: column;
				color: var(--color-text-base);
				align-items: center;
				font-weight: var(--font-weight-bold);
				.icon {
					color: var(--color-quaternary);
				}
				&:hover {
					color: var(--color-text-base);
					.icon {
						color: var(--color-text-base);
					}
				}
			}
		}
	}
}