.connect {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: var(--color-tertiary);
	padding: var(--spacing-l);
	border-radius: var(--border-radius);
	margin-bottom: calc(var(--spacing-xl) - var(--spacing-s));
	@include mq(medium) {
		padding: var(--spacing-xl);
		flex-direction: row;
	}
	&--title {
		display: flex;
		width: 100%;
		text-align: center;
		margin-bottom: 2rem;
		@include mq(medium) {
			width: 40%;
			text-align: left;
			margin-bottom: 0;
		}
		h2, h3, h4, h5, p {
			margin-bottom: 0;
		}
	}
	&--social-links {
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
	
		@include mq(medium) {
			width: 50%;
			margin-left: auto;
			padding-left: var(--spacing-s);
		}

		&-item {
			margin: 0 auto;
			.icon {
				height: 30px;
				max-width: 30px;
				margin-bottom: 0.5rem;
			}
			&-link {
				display: flex;
				flex-direction: column;
				// color: var(--color-text-base);
				align-items: center;
				font-weight: var(--font-weight-bold);
				// .icon {
				// 	color: var(--color-quaternary);
				// }
				&:hover {
					color: var(--color-text-base);
					// .icon {
					// 	color: var(--color-text-base);
					// }
				}
			}
		}
	}
}

.connect--social-links-item a {
	color: green;
	.icon {
		fill: currentColor;
	}

	span {
		color: var(--color-text-base);
	}
}