.global-footer {
	margin-top: auto;
	background-color: var(--body-background-color);
	font-size: var(--font-size-small);
	a {
		color: var(--color-text-base);
	}
	li {
		padding-left: 0;
		&:before {
			display: none;
		}
	}
	&--info {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		@include mq(medium) {
			flex-direction: column;
		}
		p {
			// margin-right: 1rem;
		}
		a {
			color: var(--color-text-base);
		}
	}
	&--links {
		width: 100%;
		display: flex;
		@include mq(medium) {
			width: 50%;
		}
		.menu {
			display: flex;
			flex-direction: column;
			margin-right: 3rem;	
		}
		&__connect {
			// width: 30%;
			margin-left: auto;
		}
	}
	&--copy {
		display: flex;
		margin-top: 1rem;
		@include mq(medium) {
			flex-direction: row;
			justify-content: center;
			margin-top: 0;
		}
		.menu {
			margin-left: 0;
			a {
				margin-left: 1rem;
			}
		}
	}
	&--logo {
		display: block;
		margin-bottom: 2rem;
		width: 200px;
	}
}

.global-footer--inner {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	// align-items: center;
	width: 100%;
	max-width: var(--container-large);
	margin: 0 auto;
	padding: 1rem var(--spacing);
	@include mq(medium) {
		flex-direction: row;
	}
}

.global-footer p {
	// color: white;
	// margin: 0;
	// font-size: var(--font-size-small);
}
