// =============================================================================
// Site
// =============================================================================

.global-container {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.container {
	margin: 0 auto;
	padding: 0 var(--spacing);
	width: 100%;
	max-width: var(--container-large);
}
section {
	margin-bottom: var(--spacing);
}

.main {
	@extend .container;
	max-width: var(--content-width);
	margin-top: var(--spacing-l);
	margin-bottom: var(--spacing-l);
	flex: 1;
}

.bkg {
	&__lightblue {
		background-color: var(--color-quaternary);
	}
	&__darkblue {
		background-color: var(--color-quinary);
	}
	&__green {
		background-color: var(--color-tertiary);
		// h1, .heading-1,
		// h2, .heading-2,
		// h3, .heading-3,
		// h4, .heading-4,
		// h5, .heading-5 {
		// 	color: var(--color-quaternary);
		// }
		// p {
		// 	color: white;
		// }
		.btn {
			@extend .btn--primary;
		}
	}
	&__black {
		background-color: black;
		.btn {
			@extend .btn--secondary;
		}
	}
	&__white {
		background-color: white;
		p {
			color: var(--color-primary);
		}
		.btn {
			background-color: var(--color-primary);
		}
	}
}
.bkg__lightblue,
.bkg__darkblue,
.bkg__black,
.bkg__image {
	h1, h2, h3, h4, h5, h6, p {
		color: white;
	}
	p {
		color: var(--color-secondary);
	}
}