.newsletter {
	background: black;
	padding: var(--spacing) 0;
	text-align: center;
	h1, h2, h3, h4, h5, h6 {
		color: var(--color-secondary);
	}
	p {
		color: white;
	}
	.lead {
		color: var(--color-secondary);
	}
}