.newsletter {
	background: black;
	padding: var(--spacing) 0;
	text-align: center;
	@include mq(medium) {
		padding: var(--spacing) 0;
	}
	h1, h2, h3, h4, h5, h6 {
		color: var(--color-secondary);
	}
	p, label {
		color: white;
	}
	.lead {
		color: var(--color-secondary);
	}
	.hbspt-form {
		margin-top: 1rem;
		form {
			text-align: left;
			display: flex;
			flex-wrap: wrap;
			margin: 0;
			padding: 0 var(--spacing-s);
			@include mq(medium) {
				justify-content: center;
			}
			.hs-submit {
				margin-top: 30px;
				margin-left: 1rem;
				width: auto;
			}
			.field {
				margin: 0 0.5rem;
				@include mq(medium) {
					width: auto;
				}
				.input, input {
					width: 100%;
				}
			}
			// .hs-error-msgs {
			// 	li {
			// 		label {
			// 			color: var(--color-secondary);
			// 		}
			// 	}
			// }
		}
	}
}