.post {
	&-header {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid var(--color-text-base);
		font-size: var(--font-size-small);
		padding: var(--spacing) 0;
		a {
			color: var(--color-text-base);
			font-weight: var(--font-weight-bold);
			&:hover {
				text-decoration: none;
				color: var(--color-primary);
			}
			.icon-arrow {
				width: 20px;
				height: 10px;
				margin-right: 0.2rem;
				transform: rotate(180deg);
			}
		}
		.addthis_inline_share_toolbox {
			display: flex;
			align-items: center;
		}
		.at-share-tbx-element .at-share-btn {
			margin: 0 0.1rem;
		}
		.at-icon-wrapper {
			line-height: 26px;
			height: 26px !important;
			display: flex;
			align-items: center;
		}
		.at-icon {
			color: var(--color-text-base);
			fill: var(--color-text-base);
		}
	}
	&-footer {
		border-top: 1px solid var(--color-text-base);
		border-bottom: 0;
		padding-top: var(--spacing);
		margin-bottom: var(--spacing-xl);
	}
}

.posts {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 -10px var(--spacing-l) -10px;
	@include mq(medium) {
		margin: 0 -20px var(--spacing-xl) -20px;
	}
	&-btn {
		width: 100%;
		text-align: center;
		margin-bottom: var(--spacing-l);
	}
	&--title {
		width: 100%;
		padding: var(--spacing-l) 0 0 0;
		border-top: 1px solid var(--color-text-base);
		margin: 0 calc(var(--spacing-xs) * 2) var(--spacing-s) calc(var(--spacing-xs) * 2);
	}
	&-item {
		display: flex;
		flex-direction: column;
		// background-color: white;
		min-height: 250px;
		width: 100%;
		margin: 0 calc(var(--spacing-xs) * 2);
		flex-grow: 0;
		@include mq(medium) {
			min-height: 380px;
			width: calc(100% / 2 - 40px);
		}
		@include mq(large) {
			min-height: 380px;
			width: calc(100% / 3 - 40px);
		}
		&--image {
			position: relative;
			&:hover {
				color: var(--color-text-base) !important;
			}
		}
		a {
			color: var(--color-text-base);
			&:hover {
				color: var(--color-primary);
				text-decoration: none;
			}
		}
		&--meta {
			display: flex;
			font-size: var(--font-size-small);
			// color: var(--color-primary);
			p {
				margin-bottom: 0.5rem;
			}
			a {
				// color: var(--color-primary);
				&:hover {
					text-decoration: none;
				}
			}
		}

		&--content {
			padding: var(--spacing) 0;
			display: flex;
			flex-direction: column;
			height: 100%;
			h4 {
				margin-bottom: var(--spacing-s);
			}
			.excerpt {
				margin-bottom: 1rem;
			}
			&-link {
				// margin-top: auto;
				font-size: var(--font-size-small);
				font-weight: var(--font-weight-bold);
				.icon-arrow {
					width: 20px;
					height: 10px;
					margin-left: 0.2rem;
				}
			}
		}
		
		// .excerpt,
		// a {
		// 	+ .posts-item--content-link {
		// 		background: red;
		// 		padding-top: var(--spacing-s);
		// 	}
		// }
		&--featured {
			margin-bottom: 0;
			@include mq(large) {
				min-height: 380px;
				width: calc(100% / 2 - 40px);
			}
			&__label {
				position: absolute;
				bottom: 0;
				left: var(--spacing);
				background-color: var(--color-secondary);
				font-size: var(--font-size-small);
				text-transform: uppercase;
				font-weight: var(--font-weight-bold);
				padding: 0.2rem 0.4rem;
				line-height: 100%;
			}
		}
		
	}
}