.team {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	margin-bottom: var(--spacing-l);
	&-item {
		width: 100%;
		border-radius: var(--border-radius);
		// background-color: var(--color-quinary);
		// color: white;
		padding: var(--spacing-xs) var(--spacing) var(--spacing) var(--spacing);
		margin: 0 0 var(--spacing) 0;

		@include mq(medium) {
			width: calc(100% / 3 - var(--spacing));
			margin: 0 var(--spacing-s) var(--spacing) var(--spacing-s);
		}

		h4 {
			margin-bottom: 0;
		}

		a {
			color: var(--color-text-dark);
			font-size: var(--font-size-small);
			text-decoration: underline;
			&:hover {
				color: var(--color-quaternary);
			}
		}
		&--job {
			margin-bottom: var(--spacing) !important;
			color: var(--color-quaternary);
		}
		&--bio {
			margin-bottom: 0.5rem;
			p {
				font-size: var(--font-size-small);
			}
		}
		.btn a {
			&:after {
				display: none;
			}
			.icon {
				width: 22px;
				height: 11px;
				margin-left: 0.2rem;
				transform: translateY(-2px);
			}
		}
		&--image {
			position: relative;
			width: 60vw;
			max-width: 290px;
			max-height: 290px;
			height: calc(60vw - var(--spacing) - 0px);
			margin: 0 auto;
			margin-bottom: var(--spacing);
			@include mq(medium) {
				width: 100%;
				height: calc(33.333vw - var(--spacing) - 80px);
				max-height: calc(var(--container) / 3 - var(--spacing) - 80px);
			}

			.icon {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: 999;
				// color: var(--color-secondary);
			}
			&__clip {
				position: absolute;
				top: 0;
				left: 0;
				
				width: 100%;
				height: 100%;
				background: none !important;
				background-size: cover;
				background-position: center center;
				clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
				// transform: rotate(15deg);
				img {
					transform: rotate(-30deg);
					width: 108%;
					max-width: none;
					margin-left: -4%;
				}
			}

			img {
				transform: rotate(-30deg);
			}
		}
	}
}
.hexagone {
	display:inline-block;
	width: 100%;
	height: 100%;
	color: transparent;
	transform: rotate(30deg);
	overflow: hidden;
	filter:url(#round);
}
.hexagone::before {
	content:'';
	display:block;
	padding-top: 100%;
	transform: rotate(30deg);
	background-color: transparent;
	// clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}