.team {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	margin-bottom: var(--spacing-l);
	&-item {
		width: 100%;
		border-radius: var(--border-radius);
		background-color: var(--color-quinary);
		color: white;
		padding: var(--spacing-xs) var(--spacing) var(--spacing) var(--spacing);
		text-align: center;
		margin: 0 0 var(--spacing) 0;

		@include mq(medium) {
			width: calc(100% / 3 - var(--spacing));
			margin: 0 var(--spacing-s) var(--spacing) var(--spacing-s);
		}

		h4 {
			margin-bottom: 0;
		}
		&--job {
			margin-bottom: var(--spacing) !important;
			color: var(--color-secondary);
		}
		&--bio {
			margin-bottom: 1rem;
			p {
				font-size: 15px;
			}
		}
		.btn a {
			&:after {
				display: none;
			}
			.icon {
				width: 22px;
				height: 11px;
				margin-left: 0.2rem;
				transform: translateY(-2px);
			}
		}
		&--image {
			position: relative;
			width: 60vw;
			max-width: 290px;
			max-height: 290px;
			height: calc(60vw - var(--spacing) - 0px);
			margin: 0 auto;
			margin-bottom: var(--spacing);
			-moz-transform: rotate(15deg);
			@include mq(medium) {
				width: 100%;
				height: calc(33.333vw - var(--spacing) - 80px);
				max-height: calc(var(--container) / 3 - var(--spacing) - 80px);
			}

			.icon {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: 999;
				// color: var(--color-secondary);
			}
			&__clip {
				width: 100%;
				height: 100%;
				background: none !important;
				background-size: cover;
				background-position: center center;
				clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
				transform: rotate(15deg);
				-moz-transform: rotate(0deg);
				img {
					transform: rotate(-15deg);
					width: 108%;
					max-width: none;
					margin-left: -4%;
				}
			}

			img {
				transform: rotate(-15deg);
			}
		}
		
		&:nth-child(3n+1) {
			background-color: var(--color-quinary);
		}
		&:nth-child(3n+2) {
			background-color: var(--color-quaternary);
			.team-item--image {
				&__clip {
					transform: rotate(-10deg);
					-moz-transform: rotate(-25deg);
					img {
						transform: rotate(10deg);
					}
				}
				.icon {
					transform: rotate(15deg);
					// color: var(--color-primary);
				}
			}
		}
		&:nth-child(3n+3) {
			background-color: white;
			color: var(--color-text-base);
		}
	}
}

.team-item {
	&:nth-child(3n+1),
	&:nth-child(3n+3) {
		.icon-asset-team {
			color: var(--color-primary);
		}
	}
	&:nth-child(3n+2) {
		.icon-asset-team {
			color: var(--color-secondary);
		}
	}
}