.text-image {
	display: flex;
	overflow: hidden;
	&__single {
		align-items: center;
		border-radius: 30px;
		padding: var(--spacing-xl) var(--spacing-l);
		&--text {
			width: 40%;
			// background-color: yellow;
		}
	}
	&__double {
		border-radius: 30px;
		width: 50%;
		padding: var(--spacing-l);
		&:last-of-type {
			margin-left: var(--spacing);
		}
	}

	
	&--image {
		width: 50%;
		margin-left: 10%;
		svg, img {
			width: 100%;
		}
	}
}