.text-image {
	display: flex;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	&__single {
		align-items: center;
		border-radius: var(--border-radius);
		// padding: var(--spacing-xl) var(--spacing-l);
		&--text {
			width: 40%;
			padding: var(--spacing-xl) var(--spacing-l);
			// background-color: yellow;
			p {
				@extend .lead;
			}
		}
	}
	&__double {
		border-radius: var(--border-radius);
		width: 50%;
		padding: var(--spacing-l);
		min-height: calc(50vw - var(--spacing) * 1.5); 
		// @include mq(xlarge) {
		// 	min-height: calc(var(--container-large) / 2 - var(--spacing) * 1.5);
		// }
		&:last-of-type {
			margin-left: var(--spacing);
			@extend .fade--delay__2 !optional;
		}

		p {
			@extend .lead;
		}
		&--image {
			position: absolute;
			right: 0;
			bottom: 0;
			max-width: 60%;
			z-index: -1;
		}
	}
	&--text {
		height: 100%;
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		&__half {
			.text-image--text {
				width: 50%;
			}
		}
		p {
			img {
				margin-right: 1rem;
			}
		}
		&__icons {
			margin-top: auto;
			display: flex;
			// flex: auto;
			width: 100%;
			// flex-wrap: wrap;
			// flex-direction: row;
			height: 150px;
			img {
				width: 150px;
				height: 150px;
				margin-right: 1rem;
			}
		}
	}

	
	&--image {
		width: 50%;
		margin-left: 10%;
		// height: 100%;
		position: relative;
		// svg, img {
		// 	width: 100%;
		// }
		&__pad {
			padding: var(--spacing-xl) var(--spacing-l) var(--spacing-xl) 0;
		}
		&__nopad {
			img {
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				min-height: 100%;
				max-width: none;
				width: 100%;
			}
		}
	}
}