input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
	// height: 38px;
	padding: 8px 10px;
	background-color: #fff;
	border: 1px solid #999BAC;
	border-radius: 0;
	box-shadow: none;
	box-sizing: border-box;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
}

textarea {
	min-height: 65px;
	padding-top: 6px;
	padding-bottom: 6px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
	border: 1px solid var(--color-grey-dark);
	outline: 0;
}

label {
	display: block;
	margin: 0 0 .2em 0;
}

input[type="checkbox"],
input[type="radio"] {
	display: inline;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
	position: relative;
	display: inline-flex;
	align-items: center;
	border-radius: 60px;
	border: 0px;
	background-color: white;
	color: var(--color-text-dark);
	font-family: var(--display-family);
	font-weight: var(--font-weight-normal);
	font-size: var(--font-size);
	text-align: center;
	transition: all 0.1s ease-in-out;
	z-index: 1;
	flex: 1 1 auto;
	text-align: center;
	overflow: hidden;
	transition: .3s;
	padding: 0.5rem 3.2rem 0.5rem 1rem;
	color: var(--color-text-dark);
	background-color: var(--color-primary);
	&:hover, &:focus {
		color: var(--color-text-dark);
		text-decoration: none;
		background: var(--color-secondary);
		cursor: pointer;
	}

}
.actions {
	position: relative;
	display: inline-block;
	&:after {
		content: url('../../src/icons/arrow.svg');
		position: absolute;
		order: 2;
		padding: 0;
		width: 32px;
		height: 26px;
		top: 50%;
		transform: translateY(calc(-50% - 2px));
		right: 1rem;
		z-index: 99;
		overflow: hidden;
	}
}

input[type="submit"].center,
input[type="reset"].center,
input[type="button"].center {
	margin: 0 auto;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
	text-decoration: none;
}

.required {
	color: #BF5D58;
}

// Hubspot specific

.hbspt-form {
	width: 100%;
	form {
		text-align: left;
		display: flex;
		flex-wrap: wrap;
		margin: 0 -0.5rem;
		fieldset {
			max-width: none;
			display: flex;
			width: 100%;
		}
		.hs-submit {
			margin-top: 1rem;
			width: 100%;
			margin-left: 0.5rem;
		}
		.field {
			margin: 0 0.5rem 1rem 0.5rem;
			width: calc(50% - 1rem);
			.input, input {
				width: 100%;
			}
		}
		.hs-richtext {
			margin: 0 0.5rem;
		}
		.hs-message,
		.hs-input {
			width: 100% !important;
		}
	}
}

.hs-error-msgs {
	font-size: var(--font-size-small);
	li {
		padding-left: 0;
		&:before {
			display: none;
		}
		label {
			color: var(--color-primary);
			font-weight: var(--font-weight-bold);
		}
	}
}
.submitted-message {
	color: var(--color-secondary);
	font-weight: var(--font-weight-bold);
}