// Setup
@import "settings";
@import "utilities/mq";
@import "utilities/mixins";
@import "variables";
@import "utilities/modal";
@import "utilities/helpers";

// Base
@import "base/base";
@import "base/typography";
@import "components/*";
@import "components/form";

.fade {
	opacity: 1;
	transform: translateY(0px) !important;
}

/* Stop links being clickable in the block editor */
.acf-block-preview a {
	pointer-events: none !important;
}

.wp-block[data-align=wide] {
	max-width: var(--container-large);
}
.carousel--slider {
	display: flex;
}
.wp-block {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.form,
.newsletter {
	.hide {
		display: flex;
	}
}

.connect {
	padding: var(--spacing-l) var(--spacing);
	@include mq(medium) {
		padding: var(--spacing-xl) var(--spacing);
	}
}


.newsletter {
	.hide {
		justify-content: center;
		color: white;
		margin-top: 1rem;
	}
}

// .team-item--image__clip {
// 	clip-path: none;
// }
// .team-item--image {
// 	margin-bottom: 0;
// }